<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Microblog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    </head>
    <body>
        <div class="header">
            Microblog:
            <a href="/">Home</a>
            
            {% if user %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/cadastro">Cadastro</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            <hr>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>