{% extends "base.html" %}
{% block content %}
    {% if user %}
    <h1>Olá, {{ user.username }} </h1>
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture}}" alt="Foto de Perfil" width="100">
    {% endif %}
    {% if user.bio %}
        <p>{{ user.bio }}</p>
    {% endif %}
    <a href="{{ url_for('post') }}">Escrever Post</a>
    {% else %}
    <h1>Olá, deseja fazer login?</h1>
    {% endif %}
    {% if user %}
        {% if posts %}
            <h2> Timeline</h2>
            <ul>
                {% for post in posts %}
                <li>
                    <strong> {{ post.author.username }}</strong>: {{ post.body }}
                    <small> {{ post.timestamp.strftime('%d/%m/%Y %H:%M') }}</small>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum post para mostrar</p>
        {% endif %}
    {% endif %}
{% endblock %}
